<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app.map') }}"><i class="nav-icon icon-home"></i> Начало</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.index') }}"><i class="nav-icon icon-speedometer"></i> Табло</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.survey-system.survey.index') }}"><i class="nav-icon icon-cursor"></i> Анкети</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.survey-system.questions.index') }}"><i class="nav-icon icon-question"></i> Въпроси</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.geospatial.object-types.list') }}"><i class="nav-icon icon-question"></i> Типове гео-обекти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.geospatial.object-type-visibility.list') }}"><i class="nav-icon icon-question"></i> Видимост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manage.geospatial.simplify.list') }}"><i class="nav-icon icon-question"></i> Оптимизиране геом.</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>