{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <h2>Items</h2>
    <p>{{ geo_object.uuid }}</p>
    <p>{{ geo_object.attributes.type }}</p>

    {% if question is null %}
        Няма повече въпроси
    {% else %}
        <strong>{{ question.title }}</strong>

        <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}">
        {% for answer in question.answers %}
            {% if answer.parent is null %}
                <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="radio" name="parent" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
            {% else %}
                <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="checkbox" name="child[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
            {% endif %}
        {% endfor %}
            <button type="submit">Изпрати</button>
        </form>
    {% endif %}
{% endblock %}
