{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <div id="map" class="map" style="height: 200px;"></div>
    <h4>{{ geo_object.attributes.name }}</h4>
	<h5>{{ geo_object.attributes.type }}</h3>

    {% if is_available_for_survey == true %}
        {% if question is null %}
            Няма повече въпроси
        {% else %}
            <strong>{{ question.title }}</strong>

            <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}">
                {% for answer in question.answers %}
                    {% if answer.parent is null %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="radio" name="answer[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% else %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="checkbox" name="answer[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% endif %}
                {% endfor %}
                <button type="submit">Изпрати</button>
            </form>
        {% endif %}
    {% endif %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
	<script type="text/javascript" src="{{ asset('javascript/leaflet.js', 'front') }}"></script>
	<script type="text/javascript" srcx="{{ asset('javascript/map-mini.min.js', 'front') }}?{{ "now"|date("U") }}"></script>
	<p>{{ dump(geo_object) }}</p>
{% endblock %}
