{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <script>
        window.geoObject = '{{ geo_object.attributes | json_encode | raw }}';
    </script>
    <div id="mapMini"></div>
    <p>{{ geo_object.attributes.type }}</p>

    <h4>{{ geo_object.attributes.name }}</h4>
	<h5>{{ geo_object.attributes.type }}</h5>



    {% if is_available_for_survey == true %}
        {% if question is null %}
            Няма повече въпроси
        {% else %}
            <strong>{{ question.title }}</strong>

            <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}">
                {% for answer in question.answers %}
                    {% if answer.parent is null %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="radio" name="answers[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% else %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="checkbox" name="answers[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% endif %}
                {% endfor %}
                <button type="submit">Изпрати</button>
            </form>
        {% endif %}
    {% endif %}

    <div>
        {% if result|length > 0 %}
        <h3>Среден резултат</h3>
        <table cellpadding="5">
            <tr>
                <th style="text-align: left;">Критерии</th>
                <th style="text-align: left;">Точки</th>
            </tr>
            {% for criterion in result %}
                <tr>
                    <td>{{ criterion.name }}</td>
                    <td>{{ criterion.rating }}</td>
                </tr>
            {% endfor %}
        </table>


        <h3>Оценки на хора</h3>
        <table cellpadding="5">
            <tr>
                <th style="text-align: left;">Потребител</th>
                <th style="text-align: left;">Критерии</th>
                <th style="text-align: left;">Точки</th>
            </tr>
            {% for result in resultByUsers %}
                <tr>
                    <td>{{ result.user_username }}</td>
                    <td>{{ result.criterion_name }}</td>
                    <td>{{ result.rating }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}
