{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <div class="container mb-4">
        <div class="row">
            <div class="col">
                <div id="mapMini"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h3>Име на обекта: <strong>{{ geo_object.attributes.name }}</strong></h3>
                <h4 class="m-0">Тип: <strong>{{ geo_object.attributes.type }}</strong></h4>
            </div>
        </div>
    </div>

    <div class="container">
        <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}" enctype="multipart/form-data">
            <button type="submit" name="submit">Запази</button>
            {% for question in questions %}
                <h5>{{ question.title }}</h5>
                {% for answer in question.answers %}
                    {% if answer.parent is null %}
                        <div>
                            <label><input type="radio" {% if answer.isSelected == true %}checked="checked"{% endif %} name="answers[option][{{ question.uuid }}][id][]" value="{{ answer.uuid }}" /> {{ answer.title }}</label>
                            {% if answer.isPhotoEnabled %}
                                <div class="custom-file">
                                    <input type="file" name="answers[photo][{{ answer.uuid }}]" class="custom-file-input">
                                    <label class="custom-file-label">Качете снимка</label>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div style="padding-left:20px;">
                            <label><input type="checkbox" {% if answer.isSelected == true %}checked="checked"{% endif %} name="answers[option][{{ question.uuid }}][id][]" value="{{ answer.uuid }}" /> {{ answer.title }}</label>
                        </div>
                    {% endif %}
                    {% if answer.isFreeAnswer %}
                        <div class="form-group pl-4">
                            <textarea name="answers[explanation][{{ answer.uuid }}]" rows="3" class="form-control w-100">{{ answer.explanation }}</textarea>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <button type="submit" name="submit">Запази</button>
        </form>
    </div>
    {#
        {% if is_available_for_survey == true %}
            {% if question is null and result|length > 0 %}
                <div class="container">
                    <div class="row mb-3">
                        <div class="col">
                            <h3>Среден резултат</h3>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Критерии</th>
                                <th class="text-center" width="40">Точки</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for criterion in result %}
                            <tr>
                                <td>{{ criterion.name }}</td>
                                <td class="text-center" width="40">{{ criterion.rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row mb-3">
                        <div class="col">
                            <h3>Оценки на хора</h3>
                        </div>
                    </div>

                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Потребител</th>
                            <th>Критерии</th>
                            <th class="text-center" width="40">Точки</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in resultByUsers %}
                        <tr>
                            <td>{{ result.user_username }}</td>
                            <td>{{ result.criterion_name }}</td>
                            <td class="text-center" width="40">{{ result.rating }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <div class="container">
                    <form method="post" id="surveyForm" data-object-id="{{ geo_object.uuid }}" enctype="multipart/form-data">
                        <div id="surveyFormContent"></div>
                        <button class="btn btn-success" type="submit">Изпрати</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <div class="loading d-none">
            <h3 class="mb-4">Зарежда...</h3>
            <img src="{{ asset('images/loading.svg', 'front') }}" class="img-fluid" alt="">
        </div>
        #}
{% endblock %}
