{% block content %}
    <div id="path-vote-suevey" class="survay d-flex flex-column align-items-center justify-content-start">
        <div class="row">
            <button data-survey-close class="btn btn-danger cursor-pointer">X</button>
        </div>
        <div class="row container">
            <div class="col-lg-5">
                <div class="mb-4">
                    {# <div id="mapMini" class="map-wide"></div> #}
                </div>
            </div>
            <div class=" m-3 mt-0 col-lg-7">
                <div class="row">
                    <div class="col">
                        <h3>Обект: <strong class="geo-object-name">'geo_object.attributes.name'</strong></h3>
                        <h3 class="mb-4">Тип: <strong class="geo-object-type">'geo_object.attributes.type'</strong></h4>
                    </div>
                </div>

               <div class="row">
                    <div class="col">
                        Попълнена анкета
                        <div id="surveyProgressBar"></div>
                     </div>
                </div>
                {#<h4>Рейтинг</h4>
                {% for c in rating %}
                    {% set percentage = (c.rating / c.max_points) * 100 %}
                    <div class="row">
                        <div class="col-lg-6 text-right">{{ c.criterion_name }}</div>
                        <div class="col-lg-6">
                            <div class="progress mb-4">
                                <div class="progress-bar pt-1" role="progressbar" style="width: {{ percentage }}%;"
                                        aria-valuenow="{{ percentage }}" aria-valuemin="0"
                                        aria-valuemax="100">{{ c.rating|number_format(1) }}
                                    / {{ c.max_points|number_format(0) }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <h4 class="mt-4">Оценки от хората</h4>
                {% for u, r in resultByUsers %}
                    <strong>{{ u }}</strong>
                    {% for c in r %}
                        {% set percentage = (c.rating / c.max_points) * 100 %}
                        <div class="row">
                            <div class="col-lg-6 text-right">{{ c.criterion_name }}</div>
                            <div class="col-lg-6">
                                <div class="progress mb-4">
                                    <div class="progress-bar pt-1" role="progressbar" style="width: {{ percentage }}%;"
                                            aria-valuenow="{{ percentage }}" aria-valuemin="0"
                                            aria-valuemax="100">{{ c.rating|number_format(1) }}
                                        / {{ c.max_points|number_format(0) }}</div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}#}

                <form id="surveyForm"></form>
            </div>
        </div>
    </div>
  
{% endblock %}
