{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <div id="map" class="map" style="height: 200px;"></div>

    <script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([23.3197423, 42.696717]),
                zoom: 15
            })
        });
    </script>

    <p>{{ geo_object.attributes.type }}</p>

    <h4>{{ geo_object.attributes.name }}</h4>
	<h5>{{ geo_object.attributes.type }}</h5>



    {% if is_available_for_survey == true %}
        {% if question is null %}
            Няма повече въпроси
        {% else %}
            <strong>{{ question.title }}</strong>

            <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}">
                {% for answer in question.answers %}
                    {% if answer.parent is null %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="radio" name="answers[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% else %}
                        <p {{ answer.parent is null ? '' : 'style="padding-left:30px;"' }}><label><input type="checkbox" name="answers[]" value="{{ answer.uuid }}">{{ answer.title }}</label></p>
                    {% endif %}
                {% endfor %}
                <button type="submit">Изпрати</button>
            </form>
        {% endif %}
    {% endif %}

    <div>
        {% if result|length > 0 %}
        <h3>Среден резултат</h3>
        <table cellpadding="5">
            <tr>
                <th style="text-align: left;">Критерии</th>
                <th style="text-align: left;">Точки</th>
            </tr>
            {% for criterion in result %}
                <tr>
                    <td>{{ criterion.name }}</td>
                    <td>{{ criterion.rating }}</td>
                </tr>
            {% endfor %}
        </table>


        <h3>Оценки на хора</h3>
        <table cellpadding="5">
            <tr>
                <th style="text-align: left;">Потребител</th>
                <th style="text-align: left;">Критерии</th>
                <th style="text-align: left;">Точки</th>
            </tr>
            {% for result in resultByUsers %}
                <tr>
                    <td>{{ result.user_username }}</td>
                    <td>{{ result.criterion_name }}</td>
                    <td>{{ result.rating }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
	<script type="text/javascript" src="{{ asset('javascript/leaflet.js', 'front') }}"></script>
	<script type="text/javascript" srcx="{{ asset('javascript/map-mini.min.js', 'front') }}?{{ "now"|date("U") }}"></script>
{% endblock %}
