{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <div class="container-fluid p-0">
        <div id="mapMini"></div>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h5>Обект: <strong>{{ geo_object.attributes.name }}</strong></h5>
                <h5 class="m-0">Тип: <strong>{{ geo_object.attributes.type }}</strong></h5>
            </div>
        </div>

        <div class="progress mb-4">
            <div class="progress-bar {{ progress.percentage == 100 ? 'bg-success' : '' }}" role="progressbar" style="width: {{ progress.percentage }}%"
                 aria-valuenow="{{ progress.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form method="post" action="{{ path('app.geo-object.result', {'id': geo_object.uuid}) }}"
              enctype="multipart/form-data">
            <div class="mb-3">
                <button type="submit" name="submit" class="btn btn-primary">Запази</button>
            </div>
            {% for question in questions %}
                <div class="mb-4">

                    <i class="fa fa-star {{ question.isAnswered ? 'text-warning' : 'text-black-50' }}"></i> <h5
                            class="d-inline">{{ question.title }}</h5>
                    <div class="mt-2 ml-4">
                        {% for answer in question.answers %}
                            {% if answer.parent is null %}
                                <div class="d-flex">
                                    <div class="w-75">
                                        <label><input type="radio"
                                                      {% if answer.isSelected == true %}checked="checked"{% endif %}
                                                      name="answers[option][{{ question.uuid }}][id][]"
                                                      value="{{ answer.uuid }}"/> {{ answer.title }}
                                        </label> {% if answer.isPhotoEnabled %}
                                            {#
                                            {% if answer.photo is null %}
                                                <div class="custom-file">
                                                    <input type="file" name="answers[photo][{{ answer.uuid }}]"
                                                           class="custom-file-input">
                                                    <label class="custom-file-label">Качете снимка</label>
                                                </div>
                                            {% else %}
                                                <img src="/media/{{ answer.photo.filename }}" style="width: 84px;height: 84px" />
                                            {% endif %}
                                            #}
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div style="padding-left:20px;">
                                    <label><input type="checkbox"
                                                  {% if answer.isSelected == true %}checked="checked"{% endif %}
                                                  name="answers[option][{{ question.uuid }}][id][]"
                                                  value="{{ answer.uuid }}"/> {{ answer.title }}</label>
                                </div>
                            {% endif %}
                            {% if answer.isFreeAnswer %}
                                <div class="form-group pl-4">
                            <textarea name="answers[explanation][{{ answer.uuid }}]" rows="3"
                                      class="form-control w-100">{{ answer.explanation }}</textarea>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="text-right">
                <button type="submit" name="submit" class="btn btn-primary position-fixed" style="bottom: 20px;" >
                    Запази
                </button>
            </div>
        </form>
    </div>
    {#
        {% if is_available_for_survey == true %}
            {% if question is null and result|length > 0 %}
                <div class="container">
                    <div class="row mb-3">
                        <div class="col">
                            <h3>Среден резултат</h3>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Критерии</th>
                                <th class="text-center" width="40">Точки</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for criterion in result %}
                            <tr>
                                <td>{{ criterion.name }}</td>
                                <td class="text-center" width="40">{{ criterion.rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row mb-3">
                        <div class="col">
                            <h3>Оценки на хора</h3>
                        </div>
                    </div>

                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Потребител</th>
                            <th>Критерии</th>
                            <th class="text-center" width="40">Точки</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in resultByUsers %}
                        <tr>
                            <td>{{ result.user_username }}</td>
                            <td>{{ result.criterion_name }}</td>
                            <td class="text-center" width="40">{{ result.rating }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <div class="container">
                    <form method="post" id="surveyForm" data-object-id="{{ geo_object.uuid }}" enctype="multipart/form-data">
                        <div id="surveyFormContent"></div>
                        <button class="btn btn-success" type="submit">Изпрати</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <div class="loading d-none">
            <h3 class="mb-4">Зарежда...</h3>
            <img src="{{ asset('images/loading.svg', 'front') }}" class="img-fluid" alt="">
        </div>
        #}
{% endblock %}
