{% extends 'front/geo-object/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-5">
                <div class="mb-4">
                    <div id="mapMini" class="map-wide"></div>
                    <div class="confirm {% if app.debug %}confirm--debug{% endif %} d-none">
                        <div class="container py-4">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h5 class="font-weight-bold mb-3" data-confirm-title>Искате ли да оцените?</h5>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="#" data-confirm-link class="btn btn-success mr-3 px-4">ДА</a>
                                    <span data-confirm-cancel class="btn btn-danger cursor-pointer px-4">НЕ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Обект: <strong>{{ geoObject.properties.name }}</strong></h5>
                        <h5 class="m-0">Тип: <strong>{{ geoObject.properties.type }}</strong></h5>

                        <div class="mt-3">
                            <a href="{{ path('app.geo-object.details', {'id': geoObject.uuid}) }}" class="btn btn-primary rounded-0 pt-2">Обратно към анкетата</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <h4>Рейтинг</h4>
                {% for c in rating %}
                    {% set percentage = (c.rating / c.max_points) * 100 %}
                    <div class="row">
                        <div class="col-lg-6 text-right">{{ c.criterion_name }}</div>
                        <div class="col-lg-6">
                            <div class="progress mb-4">
                                <div class="progress-bar pt-1" role="progressbar" style="width: {{ percentage }}%;"
                                     aria-valuenow="{{ percentage }}" aria-valuemin="0"
                                     aria-valuemax="100">{{ c.rating|number_format(1) }}
                                    / {{ c.max_points|number_format(0) }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <h4 class="mt-4">Оценки от хората</h4>
                {% for u, r in resultByUsers %}
                    <strong>{{ u }}</strong>
                    {% for c in r %}
                        {% set percentage = (c.rating / c.max_points) * 100 %}
                        <div class="row">
                            <div class="col-lg-6 text-right">{{ c.criterion_name }}</div>
                            <div class="col-lg-6">
                                <div class="progress mb-4">
                                    <div class="progress-bar pt-1" role="progressbar" style="width: {{ percentage }}%;"
                                         aria-valuenow="{{ percentage }}" aria-valuemin="0"
                                         aria-valuemax="100">{{ c.rating|number_format(1) }}
                                        / {{ c.max_points|number_format(0) }}</div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
    <script>
        let mapOption = {
            survey: true,
            geoObject: '{{ geoObject.uuid }}'
        };

        let geoObject = '{{ geoObject.uuid }}'
    </script>
{% endblock %}
