{% extends 'front/register/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h4 class="card-title text-center">Регистрация</h4>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <label for="login_username">Потребителско име</label>
                        {{ form_widget(form.username, {'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="login_password">Парола</label>
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': '', 'class': 'form-control input'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="login_password">Повторете паролата</label>
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': '', 'class': 'form-control input'}}) }}
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" name="_remember_me" class="custom-control-input" id="remember_me">
                        <label class="custom-control-label" for="remember_me">Приемам <a href="{{ path('app.site.terms-and-conditions') }}" target="_blank">условията за ползване</a></label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="padding:9px 0 4px 0;">
                        Регистрирай ме
                    </button>
                    {{ form_end(form) }}

                    <div class="text-center mt-4">
                        Имаш регистрация? <a href="{{ path('app.login') }}">Влез</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
