{% extends 'front/map/layout.html.twig' %}
{% block title %}Карта{% endblock %}
{% block content %}
    <div class="gc-map-wrapper">
        <div id="mapMini" class="map-left" data-locate-on-load="true"></div>
    </div>
    <div class="gc-sidebar-wrapper pl-5">
        <form action="{{ path('app.geo-collection.add') }}">
            <button type="submit" class="btn btn-md btn-primary">Нов маршрут</button>
        </form>
        <ul class="mt-4 pl-4">
            {% set m = 0 %}
            {% for collectionItem in collections %}
                {% set m = m + 1 %}
                <li><a href="{{ path('app.geo-collection.view', {'id': collectionItem.uuid}) }}"
                       class="{% if collection is defined and collectionItem.uuid == collection.uuid %}font-weight-bold{% endif %}">Маршрут {{ m }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {#
    <div class="container">
        <h3>Маршрути</h3>
        <div class="row">
            <div class="col-lg-3">
                <form action="{{ path('app.geo-collection.add') }}">
                    <button type="submit" class="btn btn-md btn-primary">Нов маршрут</button>
                </form>
                <ul class="mt-4 pl-4">
                    {% set m = 0 %}
                    {% for collectionItem in collections %}
                        {% set m = m + 1 %}
                        <li><a href="{{ path('app.geo-collection.view', {'id': collectionItem.uuid}) }}" class="{% if collection is defined and collectionItem.uuid == collection.uuid %}font-weight-bold{% endif %}">Маршрут {{ m }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-9" style="height: 600px;">
                <div id="mapMini" data-locate-on-load="true"></div>
                <div class="confirm {% if app.debug %}confirm--debug{% endif %} d-none">
                    <div class="container py-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="font-weight-bold mb-3" data-confirm-title>Искате ли да оцените?</h5>
                            </div>
                            <div class="col-12 text-center">
                                <a href="#" data-confirm-link class="btn btn-success mr-3 px-4">ДА</a>
                                <span data-confirm-cancel class="btn btn-danger cursor-pointer px-4">НЕ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading d-none">
                    <h3 class="mb-4">Локализиране...</h3>
                    <img src="{{ asset('images/loading.svg', 'front') }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    #}
    <script>
        let mapOption = {
            {% if collection is defined %}
            collection: '{{ collection.uuid }}',
            {% endif %}
            survey: false,
            {% if boundingBox is not empty %}bbox: {{ boundingBox }}{% endif %}
        }
    </script>
{% endblock %}
