<a href="{{ path('app.index') }}">Начало</a>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a href="{{ path('manage.index') }}">Контролеп панел</a>
    <a href="{{ path('logout') }}">Изход</a>
{% else %}
    <a href="{{ path('app.login') }}">Вход</a>
    <a href="{{ path('app.register') }}">Регистрация</a>
{% endif %}


