<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/apple-touch-icon.png', 'front') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png', 'front') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png', 'front') }}">
	<link rel="manifest" href="{{ asset('images/icons/site.webmanifest', 'front') }}">
	<link rel="mask-icon" href="{{ asset('images/icons/safari-pinned-tab.svg', 'front') }}" color="#5bbad5">
	<link rel="shortcut icon" href="{{ asset('images/icons/favicon.ico', 'front') }}">
	<meta name="application-name" content="">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{{ asset('images/icons/mstile-144x144.png', 'front') }}">
	<meta name="msapplication-config" content="{{ asset('images/icons/browserconfig.xml', 'front') }}">
	<meta name="theme-color" content="#ffffff">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="ogg" content="{{ app.request.uri }}">
	<meta property="og:url" content="{{ app.request.uri }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Градска среда">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
    <title>Градска среда - Визия за София</title>
	<!-- Foreign CSS stuff -->
	<link rel='stylesheet' id='thegem-google-fonts-css'  href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3Aregular%2C300%7CMontserrat%3A700%2Cregular&#038;subset=greek-ext%2Clatin%2Ccyrillic-ext%2Ccyrillic%2Cgreek%2Clatin-ext%2Cvietnamese&#038;ver=4.9.8' type='text/css' media='all' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- Core CSS -->
	<link rel="stylesheet" href="{{ asset('css/vendor.css', 'front') }}?{{ "now"|date("U") }}" type="text/css">
	<link rel="stylesheet" href="{{ asset('css/style.css', 'front') }}?{{ "now"|date("U") }}" type="text/css">
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css', 'front') }}" type="text/css">

	<link rel="stylesheet" href="{{ asset('css/custom.css', 'front') }}?{{ "now"|date("U") }}" type="text/css">
	<link rel="stylesheet" href="{{ asset('css/typography.css', 'front') }}?{{ "now"|date("U") }}" type="text/css">
	<link rel="stylesheet" href="https://vizia.sofia.bg/wp-content/themes/thegem/css/thegem-header.css?ver=4.9.8" type="text/css">
</head>
<body>
	{% include 'front/partial/header.html.twig' %}
	<main>
	{% block body %}{% endblock %}
	{% if app.request.get('_route') != 'app.map' %}
	{% include 'front/partial/footer.html.twig' %}
	{% endif %}
	</main>

	<script type="text/javascript" src="{{ asset('js/vendor.js', 'front') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bundle.js', 'front') }}"></script>

	{% if app.debug %}
	<script src="http://localhost:35729/livereload.js?snipver=1"></script>
	{% endif %}

</body>
</html>
