{% extends 'front/user/layout.html.twig' %}

{% block content %}
    <h2>Сигурност</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group row">
        <label class="col-lg-3 col-form-label">Текуща парола</label>
        <div class="col-lg-9">
            {{ form_widget(form.currentPassword, {'attr': {'placeholder': 'Текуща парола', 'class': 'form-control'}}) }}
            {{ form_errors(form.currentPassword) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label">Парола</label>
        <div class="col-lg-9">
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Парола', 'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label">Повторете паролата</label>
        <div class="col-lg-9">
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Повторете паролата', 'class': 'form-control'}}) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Промени</button>
    {{ form_end(form) }}
{% endblock %}
