<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Градска среда</title>
    <!-- Icons-->
    <link href="{{ asset('vendors/@coreui/icons/css/coreui-icons.min.css', 'manage') }}" rel="stylesheet">
    <link href="{{ asset('vendors/flag-icon-css/css/flag-icon.min.css', 'manage') }}" rel="stylesheet">
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css', 'manage') }}" rel="stylesheet">
    <link href="{{ asset('vendors/simple-line-icons/css/simple-line-icons.css', 'manage') }}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{{ asset('css/style.css', 'manage') }}" rel="stylesheet">
    <link href="{{ asset('vendors/pace-progress/css/pace.min.css', 'manage') }}" rel="stylesheet">

    <link href="{{ asset('plugins/toastr/toastr.min.css', 'front') }}" rel="stylesheet" />
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
{% include 'manage/partial/header.html.twig' %}
<div class="app-body">
    {% include 'manage/partial/sidebar.html.twig' %}
    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Начало</li>
            {#<li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>#}
            <!-- Breadcrumb Menu-->
            {#<li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="./">
                        <i class="icon-graph"></i> Dashboard</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> Settings</a>
                </div>
            </li>#}
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
    {#{% include 'manage/partial/asside.html.twig' %}#}
</div>
{% include 'manage/partial/footer.html.twig' %}

<!-- CoreUI and necessary plugins-->
<script src="{{ asset('vendors/jquery/js/jquery.min.js', 'manage') }}"></script>
<script src="{{ asset('plugins/toastr/toastr.min.js', 'front') }}"></script>
<script src="{{ asset('vendors/popper.js/js/popper.min.js', 'manage') }}"></script>
<script src="{{ asset('vendors/bootstrap/js/bootstrap.min.js', 'manage') }}"></script>
<script src="{{ asset('vendors/pace-progress/js/pace.min.js', 'manage') }}"></script>
<script src="{{ asset('vendors/perfect-scrollbar/js/perfect-scrollbar.min.js', 'manage') }}"></script>
<script src="{{ asset('vendors/@coreui/coreui/js/coreui.min.js', 'manage') }}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{{ asset('vendors/chart.js/js/Chart.min.js', 'manage') }}"></script>
<script src="{{ asset('vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js', 'manage') }}"></script>
<script src="{{ asset('js/main.js', 'manage') }}"></script>

<script type="text/javascript">
    $(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        {% for v, flashMessage in app.session.flashbag.all %}
            {% for messagee in flashMessage %}
                {% set message = messagee|split('|') %}
                {% if v == 'success' %}
                    toastr.success('{% if message[0] is defined %}{{ message[0]|trans([], 'flash') }}{% else %}{% endif %}', '{% if message[1] is defined %}{{ message[1]|trans([], 'flash') }}{% else %}{% endif %}');
                {% endif %}
            {% endfor %}
        {% endfor %}

    })
</script>

</body>
</html>
{#
<body>
    {% include 'manage/partial/header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'manage/partial/footer.html.twig' %}
</body>
#}
